.content {
	width: 40%;
	margin: auto;
	margin-top: 50px;
}

.content table {
	width: 100%;
}

.btn-add-post {
	margin-top: 20px;
	margin-bottom: 20px;
}

.add-post-form textarea {
	width: calc(100% - 40px);
}

.add-post-form select, .add-post-form input {
	width: 100%;
}

.add-post-form .lb-author {
	margin-top: 20px;
}

.add-post-form  .btn-view-posts {
	margin-top: 30px;
}

.loader-popup {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 5;
	width: 100%;
	height: 100%;
	display: none;
}

.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 2s linear infinite;
	margin: auto;
	margin-top: 15%;
}

.msg-good{
	color: green;
}

.msg-bad{
	color: red;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}